@charset "UTF-8";

.notice-all {
	margin : 0 auto;
	padding-top : 150px;
	width : 1080px;
	height : 300px;
}
.notice-register {
	float : right;
	border : 1px solid skyblue;
	margin-bottom : 20px;
	border-radius : 5px;
	padding : 5px;
	color : #000000;
}
.notice-register:hover {
	background-color:skyblue;
}

.table table-hover{
	border : 1px solid black;
}
.notice-register > a:hover {
	color:#ffffff;
}
.searchForm-all {
	margin-top : 30px;
	/* margin : auto; */
	text-align : center;
}
#searchform {
	display: inline-block;
}
.form-select {
	margin: auto;
	width: 30%;
	display: inline-block;
}

.pagination {
	margin-top : 20px;
	justify-content : center;
}

a{
	text-decoration : none;
}

/* 방문하지 않은 링크 글자색 */	
a:link {
	color : black;
}

/* 마우스를 올려두었을 때 */
a:hover {
	color : red;
}

/* 링크 클릭 시 글자 색 */
a:active {
	color : green;
}