@charset "UTF-8";

.town-all {
	/* border : 1px solid black; */
	margin : 0 auto;
	padding-top : 300px;
	width : 1500px;
	height : 300px;
}

.all {
	text-align : center;
	
}
.townList {
	text-align : center;
	/* float : center; */
	width : 200px;
	height : 200px;
	margin-left : 40px;
	border : 1px solid black;
	padding : 5px;
	display : inline-block;
}
.townList:hover {
	background-color : Lightgray;
}
/* .townList {
	display : inline-block;
} */
.town-register {
	/* float : right; */
	display : inline-block;
	float : right;
	border : 1px solid skyblue;
	/* margin-bottom : 50px; */
	border-radius : 5px;
	margin-bottom : 10px;
	padding : 5px;
	color : #000000;
}
img {
	width : 100px;
	height : 100px;
}
.town-register:hover {
	background-color:skyblue;
}
.town-register > a:hover {
	color:#ffffff;
}
 
.townList-img {
	margin-top : 10px;
	text-align : center;
}

.townList-title {
	margin-top : 20px;
	font-weight : bold;
	font-family : "돋움";
}

.townList-date {
	float : right;
}
.pagination {
	margin-top : 30px;
	justify-content : center;
}

a{
	text-decoration : none;
}

/* 방문하지 않은 링크 글자색 */	
a:link {
	color : black;
}

/* 마우스를 올려두었을 때 */
a:hover {
	color : red;
}

/* 링크 클릭 시 글자 색 */
a:active {
	color : green;
}
